<header class=" h-20 bg-white p-4 flex items-center justify-center">
    <nav class="flex items-center justify-around bg-[#648FEC] w-[1000px] h-full rounded-lg">
        <a href="http://localhost:4321/" class="font-bold">
            Control de arrendatarios</a>
        <a href="/x" class="font-bold">
            Piso 1</a>
        <a href="/y" class="font-bold">
            Piso 2</a>
    </nav>
</header>   