---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';
---

<Layout>
        <h1 class="text-center text-[80px] font-bold text-stroke">Bienvenido<br>
            <span class="text-[#DEDE75]">Arrendatario</span>
        </h1>
        <main class="flex-grow-0 p-4 bg-red-50 w-full justify-between">
            <p></p>
        </main>
        <div class="p-4 bg-white w-full flex justify-around mt-auto">
            <Button text="Ver Pendientes" type="submit"  />
            <Button text="Ver Avisos" type="submit" />
            <Button text="Ver Facturas" type="submit" />
        </div>

</Layout>
