---
import Header from '../layouts/components/Header.astro';
import Footer from '../layouts/components/Footer.astro';
import BaseHead from '../layouts/components/BaseHead.astro';

const { title, description, image } = Astro.props;
---
<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={title} description={description} image={image} />
	</head>
	<body class="bg-gray-200">
		<Header/>
		<div class='py-8 min-h-[calc(100vh-10px)]'>
			<slot />
		</div>
		<Footer/>
	</body>
</html>

